@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {

  html,
  body {
    @apply bg-[#111111] text-white scroll-smooth;
    background-color: #111111;
    /* Immediate black paint */
  }
}